<%# frozen_string_literal: true %>
<main class="bito-admin-main">
  <div class="bito-admin-bread">
    <%%= link_to t("activerecord.models.<%= singular_table_name %>.other"), <%= plural_table_name %>_path %>
    <span class="sep">/</span>
    <span class="here">novo</span>
  </div>

  <div class="bito-admin-pagehead">
    <h1>Novo <%%= t("activerecord.models.<%= singular_table_name %>.one") %></h1>
  </div>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</main>
